# The Python Tutorial
Sumber: https://docs.python.org/3.9/tutorial/index.html

### 2. Using the Python Interpreter

In [ ]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

### 3. An Informal Introduction to Python

Bab 3. 
3.1.1 Numbers

In [ ]:
8/5

1.6

In [ ]:
2+ 2

4

In [ ]:
50 - 5*6

20

In [ ]:
lebar = 20
tinggi = 5 * 9
lebar * tinggi

900

In [ ]:
pajak = 12.5 / 100
harga = 100.50
harga * pajak

12.5625

In [ ]:
harga + _

113.0625

In [ ]:
round(_, 1)

113.1

3.1.2. String

In [ ]:
'spam telur'

'spam telur'

In [ ]:
print ('C:\some\nama') #ini nanti huruf n nya hilang

C:\some
ama

In [ ]:
kata = 'Python'
kata[:2]

'Py'

In [ ]:
kata[:2] + kata[:4]

'PyPyth'

3.1.3 List

In [ ]:
kotak = [1,3,4,5]
kotak

[1, 3, 4, 5]

In [ ]:
kotak[:]

[1, 3, 4, 5]

In [ ]:
kotak + [1,2,4,5,777,3]

[1, 3, 4, 5, 1, 2, 4, 5, 777, 3]

In [ ]:
len(kata)

6

3.1.3. List

kotak = [1,2,3,4,5]
kotak

In [ ]:
kotak = [1,2,3,4,5]
kotak

[1, 2, 3, 4, 5]

In [ ]:
kotak[:]

[1, 2, 3, 4, 5]

In [ ]:
a= ['a','b','c']
n = [1,2,3]
x = [a,n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0]

['a', 'b', 'c']

In [ ]:
x[1]

[1, 2, 3]

In [ ]:
a, b = 0,1
while a<10:
    print(a)
    a,b = b, a+b

0
1
1
2
3
5
8

In [ ]:
i=256 * 256
print('nilai dari i adalah: ',i)

nilai dari i adalah:  65536

In [ ]:
a,b = 0, 1
while a<1000:
    print(a, end=',')
    a,b=b,a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

## 4.1 if statement

In [42]:
x = input("coba")

In [1]:
x = input("masukkan nama anda: ")
print(x)

yodi

In [45]:
x = int(input("masukkan angka: "))
if x < 0:
     x = 0
     print('Negative changed to zero')
elif x == 0:
     print('Zero')
elif x == 1:
     print('Single')
else:
     print('More')

More

### 4.2. for Statements

In [47]:
kata = ["kucing","jendela","defenstate"]
for w in kata:
    print(w, len(w))

kucing 6
jendela 7
defenstate 10

In [54]:
penggunanya = {'hans': 'active','Eleneore':'inactive','xijinping':'active'}
for pengguna, status in penggunanya.copy().items():
    if status == 'inactive':
        del penggunanya[pengguna]

pengguna_aktif = {}
for pengguna, status in penggunanya.items():
    if status == 'active':
        pengguna_aktif[pengguna] = status

print (penggunanya)

{'hans': 'active', 'xijinping': 'active'}

In [58]:
a = ['Mary', 'Had', 'a','little','lamb']
for i in range (len(a)):
    print(i,a[i])

0 Mary
1 Had
2 a
3 little
4 lamb

### 4.3. The range() Function

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [4]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [6]:
sum(range(4))

6

### 4.4. Break and continue Statements, and else Clauses on Loops

In [7]:
for n in range(2, 10):
     for x in range(2, n):
         if n % x == 0:
             print(n, 'equals', x, '*', n//x)
             break
     else:
         # loop fell through without finding a factor
         print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [8]:
for num in range(2, 10):
     if num % 2 == 0:
         print("Found an even number", num)
         continue
     print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

### 4.6. Defining Functions

In [9]:
def cekBilangan():
    for num in range(2, 10):
     if num % 2 == 0:
         print("Found an even number", num)
         continue
     print("Found an odd number", num)

In [10]:
cekBilangan()

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [11]:
def tambah(a,b):
    return a+b

In [12]:
tambah(10,2)

12

In [13]:
a = int(input("masukkan angka: "))
b = int(input("masukkan angka lagi: "))
tambah(a,b)

30

In [14]:
hasil = []
hasil.append(10)
print(hasil)

[10]

In [17]:
hasil.count(a)

1

In [20]:

hasilnya = []
a,b = 0,1
for a in range(10):
    hasilnya.append(a)
    a, b = b, a+b

print(hasilnya)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 4.7. More on Defining Functions

In [21]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [23]:
ask_ok("tanya",2)

Please try again!

True